.heroabout{
    width: 100vw;
    height: 100lvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem;
}
.ha-container{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 80%;
    justify-content: center;
    position: relative;
}
.ha-container h6{
    letter-spacing: 0.5rem;
    margin-bottom: 1rem;
}
.ha-container h2{
    font-weight: 600;
}

.ha-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 2;
}
.ha-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 1;
}
.ha-top h2{
    color: transparent;
    -webkit-text-stroke: 1px;
}
.ha-top h2 .word .char, .ha-bottom h2 .word .char{
    font-family: mons !important;
}
.ha-bottom h2 .word .char{
    opacity: 0;
}
.ha-bottom h2 strong{
    color: #00a2e2;
}
.ha-top h2 strong{
    -webkit-text-stroke-color: #00a2e2;
}


/* For mobile devices */
@media only screen and (max-width: 1024px) {
    /* Adjust styles here */
    .ha-container{
        width: 85%;
    }
    .ha-top h2,.ha-bottom h2 {
        font-size: 4rem;
    }
    .ha-top, .ha-bottom{
        justify-content: center;
        align-items: center;
    }
  
  }  

