.menu{
    height: 100lvh;
    width: 100vw;
    z-index: 4;
    position: fixed;
    top: 0;
    display: none;
    left: 100%;
}
.menu-container{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-left: 10rem;
    
}
.menu-container h2{
    font-weight: bold;
    overflow: hidden;
    opacity: 0;
}
.menu-container h2 h5{
    opacity: 1;
    transform: translateX(300);
}
.menu-container h2 .h5parent{
    display: flex;
    align-items: center;
}
.hr{
    height: 2px;
    width: 0%;
    background-color: #9e9e9e;

}
.hr-progress{
    height: 100%;
    width: 0%;
    background-color: white;
}
.menu-circle{
    height: 300lvh;
    width: 200lvw;
    background: #00a2e2;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0%, -50%);
}
.menu-link{
    -webkit-text-stroke: 1px;
}