.navs{
height: 100lvh;
width: 100vw;
z-index: 25;
position: fixed;
top: 0;
pointer-events: none;
}
.navs > *{
    pointer-events: auto;
}
.navlouise{
    color: transparent;
    -webkit-text-stroke: 1.5px;
    position: fixed;
    top: 1.5rem;
    left: 2rem;
}
.socials-container{
    position: fixed;
    bottom: 5lvh;
    left: 3.6rem;
    height: 10rem;
    border-radius: 25rem;
    border: white solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;

}


  
  /* For tablets (portrait) */
  @media only screen and (max-width: 768px) {
    .navlouise{
        font-size: 3rem;
    }
    .socials-container{
        height: 15rem;
        width: 4rem;
    }
    .fa-2xl{
        font-size: 3.5rem;
    }
    
  }
  
  /* For mobile devices */
  @media only screen and (max-width: 481px) {
    .navlouise{
        font-size: 3rem;
    }
    .socials-container{
        height: 15rem;
        width: 4rem;
    }
    .fa-2xl{
        font-size: 3.5rem;
    }
  }  