@font-face {
    font-family: mons;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

.mons{
    font-family: mons !important;
}
.hero{
    background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url('../assets/image/banner1080-min.png');
}

html, * {
    cursor: none !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    scroll-behavior: smooth;
}
.mons *{
    font-family: mons !important;
}

*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    overscroll-behavior: none;
    overflow-x: hidden;
}
html, body, *{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.app{
    width: 100vw;
}

/* FONTS SIZE */


h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1 {
    margin-top: 0;
    font-size: 7.594rem;
}

h2 {
    font-size: 5.063rem;
}

h3 {
    font-size: 3.375rem;
}

h4 {
    font-size: 2.25rem;
}

h5 {
    font-size: 1.5rem;
}

small, .text_small {
    font-size: 0.667rem;
}


/* Mobile View */
@media only screen and (max-width: 800px) {
    html {
        cursor: none;
        font-size: 50%;
        /* 16px */
    }
    *::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
    
    body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    html, body {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }
    
    .app{
        width: 100vw;
        display: block;
        flex-direction: column;
        z-index: 1;
    }
    
    /* FONTS SIZE */
    
    
    h1, h2, h3, h4, h5 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    
    h1 {
        margin-top: 0;
        font-size: 7.594rem;
    }
    
    h2 {
        font-size: 5.063rem;
    }
    
    h3 {
        font-size: 3.375rem;
    }
    
    h4 {
        font-size: 2.25rem;
    }
    
    h5 {
        font-size: 1.5rem;
    }
    
    small, .text_small {
        font-size: 0.667rem;
    }

    

 }

 .background--custom {
    background-color: #FFFFFF;
    width: 100vw;
    height: 100lvh;
    position: absolute;
    overflow: hidden;
    z-index: -2;
    top: 0;
    left: 0;
  }
  canvas#canvas {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 60%;
    transform: rotate(-12deg) scale(2) translateY(0%);
    --gradient-color-1: #000000; 
    --gradient-color-2: #000000; 
    --gradient-color-3: #292929;  
    --gradient-color-4: #000000;
    --gradient-speed: 0.000009999999999999999;
  }
  .disable-scroll {
    overflow: hidden;
  }

  .gsap-marker-end , 
  .gsap-marker-start,
  .gsap-marker-scroller-end, 
  .gsap-marker-scroller-start
  {
    display: none !important;
  }