.hero{
  width: 100vw;
  height: 100lvh;
  background: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
  url('../../../assets/image/banner1080-min.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.louise h1 .word{
  width: 50vw;
  display: flex !important;
  justify-content: space-between;
  margin-top: 10lvh;
}
.louise h1 .word .char{
  font-family: mons !important;
}
.dnd h4 {
  width: 50vw;
  display: flex !important;
  justify-content: space-between;
}
.dnd h4 .word, .dnd h4 strong, .dnd h4 strong .word{
  display: flex !important;
  flex:1;
  justify-content: space-around;
}



/* For tablets (portrait) */
@media only screen and (max-width: 768px) {
  /* Adjust styles here */
  .hero{
    background-size: 250%;
    background-position: 70% 100%;
  }
  .louise h1 .word{
    width: 80vw;
    margin-top: 10lvh;
  }
  .dnd h4 {
    width: 80vw;
  }
}

/* For mobile devices */
@media only screen and (max-width: 670px) {
  /* Adjust styles here */
  .hero{
    background-size: 400%;
    background-position: 65% 100%;
  }
  .louise h1 .word{
    width: 80vw;
    margin-top: 10lvh;
  }
  .dnd h4 {
    width: 70vw;
  }

}  