.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00a2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}

.preloader--hidden {
  opacity: 0;
  visibility: hidden;
}
.pl-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preloader__spinner {
  border: 10px solid rgba(0, 0, 0, 0);
  border-left-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 4rem;
}

.loadertext{
  margin-top: 10px;
  width: 50lvw;
}
.loadertext .word{
  width: 100%;
  display: flex !important;
  align-items: space-between;
  justify-content: space-between;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* For mobile devices */
@media only screen and (max-width: 670px) {
  .loadertext{
    width: 80lvw;
  }
  

}  
