.louise h1, .logo{
  font-family: mons;
  
}
.content , .container{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  
  background: #181818;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: start;
}

.content{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.header{
  width: 90vw;
  height:5vh;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  overflow: hidden;
}

.logo{
  color: transparent;
  -webkit-text-stroke: 1px;
}
.hero{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  
}
.me{
  height: 100%;
  width: 100%;
  background: url('../../assets/image/me.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
.herocontainer{
  width: 55%;
  display: flex;
}
.herocontainer div{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.herocontainer div h1{
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 2px;
  margin: 0;
}
.herocontainer div h4{
 margin: 10px;
 line-height: 1;
 font-weight: 500;
}
.hi{
  line-height: 1;
  font-weight: 100;
}

/* Mobile View */
@media only screen and (max-width: 800px) {
  .herocontainer div h4{
    margin: 0;
    line-height: 1;
    font-weight: 500;
   }
}
