.Projects{
  background-color: black;
  width: 100lvw;
  height: 100lvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
}
.proj-pic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.pp-container{
  padding-top: 65lvh;
}
.p-title{
  position: absolute;
  z-index: 2;
  left: 5lvw;
  padding-top: 20lvw;
  width: 20lvw;
  opacity: 0;
  transform: translateX(5rem);
  font-size: 5lvw;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.511) 5px 5px 5px;
}
.pp{
  height: 35lvw;
  width: 65lvw;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
  border-radius: 1rem;
  scroll-snap-align: center;
}

.section {height: 500px; width: 500px;}

.green {background-color: lightgreen;}

.blue {background-color: lightblue;}

p {font-size: 20pt; padding: 10px}

.c-overlay{
  
  pointer-events: none;
  z-index: 2;
  display: flex;
  height: 45lvw;
  width: 80lvw;
  position: fixed;
  top: 50lvh;
  left: 50%;
  transform: translate(-50%, -50%);   
}
.c-outer-border{
  height: 5rem;
  width: 10rem;
  border: white solid;
  position: absolute;
}
.c-top-left{
  border-width: 0.5rem 0rem 0rem 0.5rem;
  top: 0;
  left: 0;
}
.c-top-right{
  border-width: 0.5rem 0.5rem 0rem 0rem;
  top: 0;
  right: 0;
}
.c-bottom-left{
  border-width: 0rem 0rem 0.5rem 0.5rem;
  
  bottom: 0;
  left: 0;
}
.c-bottom-right{
  border-width: 0rem 0.5rem 0.5rem 0rem;
  bottom: 0;
  right: 0;
}