.heroworks{
    display: flex;
    height: 200lvh;
    width: 100vw;
}
.works-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: slateblue;
    position: relative;
    clip-path: inset(0);
}
.works-top{
    display: flex;
    position: absolute;
    top: 0;
    border: 5px solid darkred;
    height: 100lvh;
    width: 100%;
    z-index: 2;
}
.works-bottom{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
    top: 0;
    border: 10px solid darkgreen;
    height: 100lvh;
    width: 100%;
    z-index: 1;
    transform: scale(1.5) rotateX(45deg) rotateY(-8deg) rotateZ(27deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
}
.works-row{
    background-color: aqua;
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}
.row-1{
    transform: translateX(5rem);
}
.row-2{
    transform: translateX(-5rem);
}
.row-3{
    transform: translateX(5rem);
}
.work-canvas{
    width: 25%;
    height: 100%;
    background-color: peachpuff;
}