.ball {
  z-index: 30;
  width: 8px;
  height: 8px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  
  border-radius: 50%;
  pointer-events: none;
}

.trail {
  border: #ffffff solid 1px;
  height: 15px;
  width: 15px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

}
#mViewtextContainer{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 31;
}
#mViewtext{
  display: flex;
  opacity: 0;
  font-weight: bold;
  color: black;
}

/* For tablets (portrait) */
@media only screen and (max-width: 850px) {
  .ball, .trail, #mViewtextContainer, #mViewtext{
    display: none;
  }

}