.ball {
  z-index: 30;
  width: 8px;
  height: 8px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  
  border-radius: 50%;
  pointer-events: none;
}

.trail {
  border: #ffffff solid 1px;
  height: 15px;
  width: 15px;
  background-color: transparent;

}

/* For tablets (portrait) */
@media only screen and (max-width: 850px) {
  /* .ball, .trail{
    display: none;
  } */

}